$icon-font-path: '../fonts/';

a:hover,
a:focus {
  text-decoration: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

nav {
  margin-bottom: 35px;
}

#pager-indicator {
  padding: 7px;
  margin-top: 16px;
  height: 41px;
  width: 150px;
  float: right;

  p {
    margin-bottom: 0;
  }
}

#listings {

  .buttons-wrapper {

    margin: 15px 0;

    ul {

      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        padding-right: 15px;
      }
    }
  }

  // #buttons  ul {
  //   margin: 0;
  //   padding: 15px 0;
  //   text-align: center;
  // }
  //
  // #buttons li {
  //   list-style: none;
  //   display: inline-block;
  //   padding: 0 15px;
  // }

  .media-object {
    width: 200px;
  }

  .media-group > * {
    color: #818a91;
    margin: 0;
    padding: 2px 0;
    font-size: small;
  }

  .tags ul {
    margin: 0;
    padding: 0
  }

  .tags li {
    list-style: none;
    display: inline-block;
    padding: 5px;
  }
}

#loader {

  text-align: center;

  p {
    font-size: 8em;
  }
}

footer {
  margin-top: 50px;
  padding: 25px;
}
