<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TheMuse with Vue</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-full navbar-dark bg-inverse">
      <a class="navbar-brand" href="#">TheMuse API</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </nav>

    <div class="container" id="listings">

      <div class="buttons-wrapper">
          <buttons-comp :categories="categories">
          <ul>
            <li v-for="cat in categories">
              <button class="btn btn-sm btn-primary-outline" id="cat-{{ cat }}" @click.prevent="selectCategory">
                {{ cat }}
              </button>
            </li>
          </ul>
        </buttons-comp>
      </div>

      <div class="row">
        <div class="col-md-9">
          <pager :numOfPages="numOfPages" :currentPage="currentPage">
            <div id="pager">
              <ul class="pagination">{{isActive | json}}
                <li class="page-item " v-for="num in numOfPages">
                  <a id="page-{{ num + 1 }}" class="page-link" href="#" @click.prevent="changePage">{{ num + 1 }}</a>
                </li>
              </ul>
            </div>
          </pager>
        </div>
        <div class="col-md-3">
          <div id="pager-indicator">
            <p>
              <span class="pull-right">{{ currentPage }} / {{ numOfPages }}
                <i class="fa fa-paper-plane"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <muse-list :listings="listings">
            <div id="listings">
              <ul class="list-group" v-if="showList">
                <li v-for="post in listings" class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <img v-bind:src="post.primary_image_thumbnail" alt="{{ post.short_name }}" class="img-fluid media-object">
                    </div>
                    <div class="media-body">
                      <h5 class="media-heading">
                        <a v-bind:href="'https://www.themuse.com/advice/' + post.short_name" target="_blank">{{ post.name }}</a>
                      </h5>
                      <div class="media-group">
                        <p><strong>By</strong> {{ post.author_name }}</p>
                        <p><strong>Posted</strong> {{ post.update_date | date }}</p>
                        <div class="tags">
                          <ul>
                            <li v-for="tag in post.tags">
                              <span class="label label-default">{{ tag }}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div v-else>
                <div class="alert alert-info">
                  <div id="loader">
                    <p><i class="fa fa-circle-o-notch fa-spin"></i></p>
                  </div>
                </div>
              </div>
            </div>
          </muse-list>
        </div>
      </div>
    </div>


    <footer>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>This is an example of using Vue.js to create components.</p>
            <ul>
              <li>Component 1 is the buttons generated by category array.</li>
              <li>Component 2 is the pager.</li>
              <li>Component 3 is the list of Muse posts pulled from their API.</li>
              <li>All three components are managed by a single Vue instance mounted to the body element.
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/vue/dist/vue.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
